<h1><%= t('activerecord.models.menus') %></h1>

<%= render 'tab_admin_menu' %>

<table class='table table-striped'>
	<thead>
  <tr>
	    <th><%= t('activerecord.attributes.menu.name') %></th>
			<th><%= t('activerecord.attributes.menu.path') %></th>
			<th><%= t('activerecord.attributes.menu.parent') %></th>
	    <th><%= t('actions') %></th>
	  </tr>
	</thead>

	<tbody>
		<% @menus.each do |menu| %>
		  <tr>
		    <td><%= menu.name %></td>
		    <td><%= menu.path %></td>
				<td><%= "#{menu.parent.id} - #{menu.parent.name}" unless menu.orphan? %></td>
		    <td><%= link_to t('edit'), edit_menu_path(menu), class: 'btn btn-xs btn-default' %><%= link_to t('delete'), menu, method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-xs btn-danger' %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= link_to t('menus.create_new'), new_menu_path, class: 'btn btn-primary' %>

<%= render 'shared/admin_sidebar' %>
