<% unless administrator? # basic functionality for all users %>
	<% if @page %>
		<% if @page.has_children? %>
			<h2><%= @page.nickname %></h2>
			<ul>
		  <% for page in @page.children.by_menu_position %>
		    <%= content_tag :li, link_to(page.nickname, page) %>
		  <% end %>
			</ul>
		<% end %>

		<% if !@page.orphan? && @page.has_siblings? %>
			<h2><%= link_to @page.parent.nickname, @page.parent %></h2>
			<ul>
		  <% for page in @page.siblings.by_menu_position %>
		    <%= content_tag :li, link_to(page.nickname, page) %>
		  <% end %>
			</ul>
		<% end %>
	<% end %>

<% else # administrators can reorder menu pages %>

  <% if @page %>
		<% if @page.has_children? %>
			<h2><%= @page.nickname %></h2>
			<ul class="draggable" data-update-url="<%= sort_pages_path %>">
			  <% for page in @page.children.by_menu_position %>
					<%= content_tag :li, page, class: 'page', id: "page_#{page.id}" do %>
						<%= image_tag 'admin/drag-handle.gif', :class => 'handle silhouette' %> <%= link_to page.nickname, page %>
					<% end -%>
			  <% end %>
			</ul>
		<% end %>

		<% if !@page.orphan? && @page.has_siblings? %>
			<h2><%= link_to @page.parent.nickname, @page.parent %></h2>
			<ul class="draggable" data-update-url="<%= sort_pages_path %>">
			  <% for page in @page.siblings.by_menu_position %>
					<%= content_tag :li, page, class: 'page', id: "page_#{page.id}" do %>
						<%= image_tag 'admin/drag-handle.gif', :class => 'handle silhouette' %> <%= link_to page.nickname, page %>
					<% end %>
			  <% end %>
			</ul>
		<% end %>
	<% end %>

<% end %>
